<h1 class="text-center m-3">List of the accounts</h1>
<button class="btn m-2 alert-info float-right"
        [routerLink]="['/create-update']"
>Create new account</button>
<table class="table table-striped table-hover" aria-describedby="page-heading">
  <thead>
  <tr>
    <th scope="col"><span>ID</span></th>
    <th scope="col" ><span>First name</span></th>
    <th scope="col"><span>Last name</span></th>
    <th scope="col"><span>Birthday</span></th>
    <th scope="col"><span>Email</span></th>
    <th scope="col"><span>Actions</span></th>
  </tr>
  </thead>
  <tr *ngFor="let account of accounts">
    <td>{{account.id}}</td>
    <td>{{account.firstName}}</td>
    <td>{{account.lastName}}</td>
    <td>{{account.email}}</td>
    <td>{{account.email}}</td>
    <td class="text-right">
      <div class="btn-group">
        <button type="submit"
                [routerLink]="['/create-update', account.id]"
                class="btn btn-primary btn-sm">
          <fa-icon [icon]="'pencil-alt'"></fa-icon>
          <span class="d-none d-md-inline">Edit</span>
        </button>
        <button type="submit"
                class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">
          <fa-icon [icon]="'times'"></fa-icon>
          <span class="d-none d-md-inline">Delete</span>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body text-center">
                Are you sure you want to delete it?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="delete(account)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>
